@page "/one"
@using BlazorBaseApp.Model
@using BlazorBaseApp.Services;
@using Newtonsoft.Json
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject AuthenticationService AuthenticationService

@if (AuthenticationService.IsLoggedIn == true)
{
    @if (AuthenticationService.LoggedInUser.Role == "Admin" || AuthenticationService.LoggedInUser.Role == "Moderator")
    {
        <PageTitle>Page One</PageTitle>
    }
    else
    {
        <PageTitle>Permission is denied</PageTitle>
    }
}
else
{
    <h1>You must login</h1>
}
@code {
    
}