@page "/two"
@using BlazorBaseApp.Model
@using BlazorBaseApp.Services;
@using Newtonsoft.Json
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject AuthenticationService AuthenticationService

@if (AuthenticationService.IsLoggedIn == true)
{
    <PageTitle>Page Two</PageTitle>
}
else
{
    <h1>You must login</h1>
}
@code {

}